@import url(./__item/cards__item.css);
@import url(./__photo/cards__photo.css);
@import url(./__content/cards__content.css);
@import url(./__title/cards__title.css);
@import url(./__like/cards__like.css);

.cards {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;

}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
        grid-gap: 18px;
    } 
}

@media (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, 282px);
        grid-gap: 18px;
    } 
}