@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__profile-info/popup__profile-info.css);
@import url(./__field/popup__field.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__preview-subtitle/popup__preview-subtitle.css);
@import url(./__preview-photo/popup__preview-photo.css);
@import url(./__preview-container/popup__preview-container.css);
@import url(./__field-error-text/popup__field-error-text.css);
@import url(./__form-section/popup__form-section.css);

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: -1;
}
