.header__logo {
    background-image: url('../../../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 104px;
    height: 24px;
    margin: 28px 0 32px 26px;
}

@media (min-width: 768px) {
    .header__logo {
        width: 142px;
        height: 34px;
        margin: 45px 0 40px 0;
    }
}