.popup__container {
    width: 100%;
    max-width: 282px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 25px 22px;
}


@media (min-width: 768px) {
    .popup__container  {
        max-width: 430px;
        padding: 35px 32px;
    }
}