.footer__copyright {
    margin: 0;
    color: #545454;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    padding-left: 19px;
}

@media (min-width: 768px) {
    .footer__copyright {
        padding-left:0;
    }
}

@media (min-width: 1280px) {
    .footer__copyright {
        font-size: 18px;
    }
}