.cards__remove-button {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
}

.cards__remove-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.cards__remove-button:focus {
    outline: none;
}