@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .header {
        width: 70%;
        margin: 0 auto;
    }
}