@import url(./__logo/header__logo.css);

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    max-width: 882px;
    margin: auto;
}

@media (min-width: 768px) {
    .header {
        width: 70%;
        margin: 0 auto;
    }
}