.profile__add-button {
    background: none;
    border: none;
    box-shadow: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 282px;
    height: 50px;
    margin-top: 36px;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media (min-width: 1280px) {
    .profile__add-button {
        margin-left: auto;
        width: 150px;
    }
}