.cards__like {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self: center;
    width: 18px;
    height: 18px;
    padding-right: 12px;
}

.cards__like:hover {
    cursor: pointer;
    opacity: 0.6;
}