.footer__copyright {
    margin: 0;
    color: #545454;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
}

@media (min-width: 1280px) {
    .footer__copyright {
        font-size: 18px;
    }
}